/*smooth scrolling on entire site*/
html{
    scroll-behavior: smooth;
}

.page-title {
  font-size: 27px;
  line-height: 48px;
  margin: 24px 0;
  font-family: "Archivo Black",sans-serif;
  font-weight: normal;
}

/*menu*/
/*see https://www.w3schools.com/howto/howto_css_fixed_menu.asp for sticky menu!!!*/


#open-menu > ul { /*makes the list horizontal*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#open-menu > ul > li {
  float: left;
}

#open-menu > ul > li > a{
  display: block;
  color: #DFC7A9;
  font-family: "Archivo Black",sans-serif;
  text-align: center;
  padding: 0.5rem;
  position: relative;
}

#open-menu > ul > li > a:hover {
  color: #C9C8C5;
}

#open-menu > ul > li > a::after { /*underline text in menu on hover*/
  content: "";
  display: block;
  position: absolute;
  height: 0.1em;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #C9C8C5;
  transform: scaleX(0);
  visibility: hidden;
  transition: all 0.3 ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#open-menu > ul > li > a:hover::after, #open-menu > ul > li > a:focus::after{
  transform: scaleX(1);
  visibility: visible;
}

#open-menu > ul > li.active > a {
  color: #C9C8C5;
}

/*add logic for menu visibility*/

@media only screen and (max-width: 1000px){
  #open-menu{
    display: none;
  }
}

@media only screen and (min-width: 1000px){
  #top-nav{
    display: none;
  }
}

/*grey background for blocks*/

.grey{
  background-color: #C9C8C5;

}

/* Rectangle on title and image*/

.rectangle_title{
  display: block;
  background: 
  linear-gradient(to top left,transparent, #DFC7A9 0) top left/40% 40% no-repeat,
  transparent;
  margin-left: 0px;
}

@media only screen and (max-width: 1000px) {
  .rectangle_title{
    background: 
    linear-gradient(to top left,transparent, #DFC7A9 0) top left/500px 40% no-repeat,
    transparent;
  }
}

.title_image{
  width: 120px;
  float: left;
  padding: 0px 10px;
  margin-right: 0px;
}

/*custom  hover */

button:hover, button:focus, button:focus-visible{
  background-color: #C9C8C5;
}

.search-toggle:hover, .search-toggle:focus{
  color: #C9C8C5;
  background-color: #000;
}

.search-toggle:focus-visible{
  outline: 1px dotted;
}

.menu-toggle:hover, .menu-toggle:focus{
  color: #C9C8C5;
}

.menu-toggle:focus-visible{
  outline: 1px dotted;
}

#top-nav > ul > li > a:hover{
  color: #C9C8C5;
}

/* underline text link */

p a{
  position: relative;
  display: inline-block;
}

p a::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.1em;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  transform: scaleX(0);
  visibility: hidden;
  transition: all 0.3 ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

p a:hover::after, p a:focus::after{
  transform: scaleX(1);
  visibility: visible;
}

/*sticky footer, fourth of https://css-tricks.com/couple-takes-sticky-footer/*/
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

#content, #content_home{
    flex: 1 0 auto;
}

footer{
    flex-shrink: 0;
    display: flex;
    background-color: black;
    color: white;
    padding-top: 5px;
}


/* HOME */
#content_home{
    padding: 0px 0px 0;
}

/*first section*/
.home_image_section{
    background-position: center center;
    background-image: url(/omeka-s/themes/1972_thedaily/asset/img/home_sottsass.jpeg); 
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-color: #000;
    box-sizing: border-box;
}

.overlay { /*overlay for background image home*/
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
  }

#exhibit_intro{
    padding-bottom: 0px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 10%;
    text-align: center;
}

.intro_text{
  max-height: 500px;
  overflow-y: auto;
}

.intro_text p{
  color: #fff;
}

#exhibit_intro .arrow-down img{
  filter: invert(1); /*invert color of arrow*/
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
}

#exhibit_intro .arrow-down img:hover, #exhibit_intro .arrow-down img:focus{
  filter: invert(75%) sepia(42%) saturate(15%) hue-rotate(8deg) brightness(102%) contrast(86%);
  -webkit-filter: invert(75%) sepia(42%) saturate(15%) hue-rotate(8deg) brightness(102%) contrast(86%);
  -moz-filter: invert(75%) sepia(42%) saturate(15%) hue-rotate(8deg) brightness(102%) contrast(86%);
  -o-filter: invert(75%) sepia(42%) saturate(15%) hue-rotate(8deg) brightness(102%) contrast(86%);
  -ms-filter: invert(75%) sepia(42%) saturate(15%) hue-rotate(8deg) brightness(102%) contrast(86%);
}

/*second section*/

#intro{
  display: block;
  background-color: #DFC7A9;
}

#intro .home_text{
  position: relative;
  overflow-y: scroll;
  height: 90%;
  background-color: white;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  background-image: url(/omeka-s/themes/1972_thedaily/asset/img/logo_intero_transparent.png);
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: 25% 75%;
}



.arrow-down{
  display: block;
  position: relative;
  padding: 1em;
}

.arrow-down img{
  position:relative;
  height: 30px;
  display: block;
  margin-left: auto; /*center the image*/
  margin-right: auto; /*center the image*/
}

.arrow-down img:hover, .arrow-down img:focus{
  filter: invert(90%) sepia(5%) saturate(121%) hue-rotate(7deg) brightness(92%) contrast(84%);
  -webkit-filter: invert(90%) sepia(5%) saturate(121%) hue-rotate(7deg) brightness(92%) contrast(84%);
  -moz-filter: invert(90%) sepia(5%) saturate(121%) hue-rotate(7deg) brightness(92%) contrast(84%);
  -o-filter: invert(90%) sepia(5%) saturate(121%) hue-rotate(7deg) brightness(92%) contrast(84%);
  -ms-filter: invert(90%) sepia(5%) saturate(121%) hue-rotate(7deg) brightness(92%) contrast(84%);
}

/*third section*/

.wrap{
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.home_section{
    height: 100vh;
    box-sizing: border-box;
}

.home_text{
    flex: 40%;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.home_section--logo{
    background-color: #000;
}

.wrap > .home_text{
    max-width: 40%;
    height: 100vh;
    color: #fff;
    padding-top: 10%;
}

.composition_blocks{
  display: none;
  height: auto;
  position: relative;
  text-align:center;
}

.block_link{
  background-color: #DFC7A9;
  height: 20px;
  padding-left: 0px;
  border: black, solid, 1px;
}

.versace_firma{
  height: 30%;
  float: right;
  margin-top: 10%;
  margin-right: 5%;
}

.highlight-section{ /* highlight*/ 
  background-color: #DFC7A9;
  color: #000;
  padding: 2px;
  margin: 3px;
  font-family: "Archivo Black",sans-serif;
  margin-left: 0px;
  border: #C9C8C5 solid 3px;
}

.highlight-section:hover{
  background-color: #C9C8C5;
}

.childhover{
  filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
  -webkit-filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
  -moz-filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
  -o-filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
  -ms-filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
}


@media only screen and (max-width: 700px) {

    #exhibit_intro{
      padding-left: 2px;
      padding-right: 2px;
      padding-top: 2px;
    }
    .intro_text p{
        font-size: 1em;
    }

    /*#exhibit_intro .arrow-down{
      display: none;
    }*/
}

@media only screen and (max-width: 1000px) { /*change the logo into blocks*/
  .composition{
    display: none;
  }

  .wrap > .home_text{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    height: 450px;
    overflow-y: auto;
  }
} 

/*@media screen and (min-width: 500px) {
  footer {
     position: relative;
  }
}*/

/* DESIGN PAGE*/

.wrap.design_page{ /*or else the wrap is broken*/
  height: auto;
  overflow-y: hidden;
}

.design_text{
  flex: 50%;
  float: left;
  padding-top: 10%;
}

.cogapp{
  margin-left: 5%;
  float: left;
  flex: 50%;
}

.cogapp:focus, .cogapp:focus-visible{
  outline: 1px dotted;
}

.see_more{
  border-top: 3px solid black;

}

@media screen and (max-width: 1000px) {
  .wrap.design_page{
    justify-content: flex-start;
    flex-direction: column;
  }
  
  .cogapp{
    margin: 5%;
  }
}
/* OTHERS */

/*if Universal Viewer module is active, this prevents a bad viewer*/
#itemfiles, .lSSlideOuter .media-render{
  height: auto;
  max-height: none;
}

/*little footnote to copy on the csss text editor*/
.littlefoot-footnote__button {
    font-size: .5em;
    min-height: 24px;
    background-color: #DFC7A9;
    border-radius: 0px
}
.littlefoot-footnote__host > button > svg > circle {
    fill:black;
}
.littlefoot-footnote__button__ellipsis {
     padding: .35em .3em;
}
.littlefoot-footnote__wrapper {
    max-width: 270px;
}

.littlefoot-footnote__button::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.2em;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  transform: scaleX(0);
  visibility: hidden;
  transition: all 0.3 ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.littlefoot-footnote__button:hover::after, .littlefoot-footnote__button:focus::after {
  transform: scaleX(1);
  visibility: visible;
}

.littlefoot-footnote__button:hover, .littlefoot-footnote__button:focus{
  background-color: #DFC7A9;
}

/* DESIGNER PAGE responsive image grid from https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.row-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column-grid {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column-grid {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-grid {
    flex: 100%;
    max-width: 100%;
  }
}

.designer_image{
  position: relative;
  width: 100%;
  border: 3px solid black;
  margin-bottom: 4px;
}

.designer_image > a{
  display: flex;
}

.designer__img{
  flex: 1;
  width: 60%;

}

.designer__text{
  background-color: rgba(223, 199, 169);
  width: 20%;
  margin: 8px;
}

.designer__title{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 2em;
  font-weight: bold;
  display: block;
}

.designer__title::after{ /*changed a little for vertical text*/
  content: "";
  position: relative;
  height: 100%;
  right: 10px;
  bottom: 0;
  display: block;
  width: 3px;
  background-color: #000;
  transform: scaleY(0);
  visibility: hidden;
  transition: all 0.3 ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.designer_image:hover .designer__title::after{
  transform: scaleY(1);
  visibility: visible;
}


/* PAGINE MONOGRAFIE see https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6*/ 

.head-mono{
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #DFC7A9;
  padding: 20px;
}

.scrolling-wrapper{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0 auto;
}

.section_mono{
  flex: 0 0 100%; 
}

.section_mono > p, .section_mono > h2{ /* margin of the text inside each section*/
  margin: 1.5em;
}

/* left and right arrow pagine monografie */

span.arrow-left,span.arrow-right{
  display: block;
  position: fixed;
  padding-top: 20%;
  z-index: 1;
  cursor: pointer;
}

span.arrow-left img,span.arrow-right img{
  height: 30px;
}

span.arrow-left:hover,span.arrow-right:hover img{
  filter: invert(95%) sepia(5%) saturate(111%) hue-rotate(7deg) brightness(86%) contrast(89%);
  -webkit-filter: invert(95%) sepia(5%) saturate(111%) hue-rotate(7deg) brightness(86%) contrast(89%);
  -moz-filter: invert(95%) sepia(5%) saturate(111%) hue-rotate(7deg) brightness(86%) contrast(89%);
  -o-filter: invert(95%) sepia(5%) saturate(111%) hue-rotate(7deg) brightness(86%) contrast(89%);
  -ms-filter: invert(95%) sepia(5%) saturate(111%) hue-rotate(7deg) brightness(86%) contrast(89%);
}

span.arrow-left{
  left: 0.2em;
  float: left;
}
span.arrow-right{
  right: 0.2em;
  float: right;
}

span.mono_link{
  padding-left: 40px;
  position: relative;
}

.mono_link > a{
  margin: 0.3em;
  position: relative;
}

.mono_link > a::after{
  content: "";
  display: block;
  position: absolute;
  height: 0.1em;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  transform: scaleX(0);
  visibility: hidden;
  transition: all 0.3 ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.mono_link > a:hover::after, .mono_link > a:focus::after{
  transform: scaleX(1);
  visibility: visible;
}

/* slider monografie*/

.imageslide{
  display: none;
  border: 3px solid black;
  padding: 10px;
  position: relative;
  }

.slider-block{
  justify-content: center;
  display: flex;

}

.slider-title{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.6em;
  padding-left: 1.4em;
  padding-right: 1.4em;
  background-color: black;
  color: white;
}

.pagination-slider{
  margin-top: 1em;
}

.select-image{
  background-color: #DFC7A9;
  padding: 0.6em;
  padding-left: 1.4em;
  padding-right: 1.4em;
  margin: 0.5em;
  cursor: pointer;
}

.select-image::after{    
  content: "";
  position: relative;
  height: 3px;
  left: 0;
  top: 0.6em; /*same as padding*/
  display: block;
  width: 100%;
  background-color: #000;
  transform: scaleX(0);
  visibility: hidden;
  transition: all 0.3 ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.select-image:hover::after, .select-image:focus::after{ 
  transform: scaleX(1);
  visibility: visible;
}

.select-image.selected{
  border: 3px solid black;
}

.select-image.selected:hover::after, .select-image.selected:focus::after{ 
  visibility: hidden;
}


@media screen and (max-width: 800px) {
  .slider-block{
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  .pagination-slider{
    margin-top: 0;
    order: 1;
  }

  .imageslide{ /*put the slider after pagination*/
    order: 2;
  }
  
  .select-image{
    position: relative;
    padding: 0.3em;
    width: max-content;
    float: left;
  }

  .select-image::after{
    top: 0.3em; /*same as padding*/
  }

  .imageslide img{
    object-fit: cover;
  }

  .item-slider iframe{
    display: block;
    width: 80vw;
  }

}

/*text right and image left monografie*/

.mono_text_left, .mono_text_right{
  display: flex;
  padding: 2px;
}

.mono_text{
  padding: 2em;
}

.mono_text_left iframe, .mono_text_right iframe{
  border: 3px solid black;
  padding: 10px;
}


.mono_text_left img, .mono_text_right img{
  object-fit: none;
  margin-right: 2em;
  border: 3px solid black;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .mono_text_left, .mono_text_right{
    display: inline-block;
  }

  .mono_text_left img, .mono_text_right img{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }

  .mono_text_left iframe, .mono_text_right iframe{
    width: 80vw;
    display: inline-block;
  }
 
}

/*blockquote monografie*/

blockquote p{
  margin: 0.5em;
  padding: 0.5em 10px;
  quotes: "“" "”";
  line-height: 1.3;
  border: solid 3px #C9C8C5;
  box-shadow: 0.2em 0.2em 0 0 #C9C8C5;
  max-width: max-content;
}


blockquote p::before {
  content: open-quote;
}
blockquote p::after {
  content: close-quote;
}