/*arrow in homepage https://codepen.io/sego/pen/bQZKwP not used*/

/*logo composition https://codepen.io/merveagca/pen/omjydN*/


.composition {
    $self: &;
    flex: 60%;
    background-color: #000;
    margin:0 auto;
    position: relative;
    float: right;
    &__logo{
        width: 45%;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 1rem;
        &--mina{
            left: 37%;
            top: 1%;
        }
        &--figura{
            left: 50%;
            top: 13%;
        }
        &--macchina{
            left: 33%;
            top: 63%;
        }
       &:hover{
            /*transform: scale(1.05) translateY(-.5rem);*/
            z-index:20;
            filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
            -webkit-filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
            -moz-filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
            -o-filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
            -ms-filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
       } 
   
    }

    //composition:hover composition__logo:not(:hover)
    /*&:hover &__logo:not(:hover){
        transform: scale(.95);
    }*/

}

.highlight-on-hover{
    z-index:20;
    filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
    -webkit-filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
    -moz-filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
    -o-filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
    -ms-filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(348deg) saturate(152%); /* result: #DFC4A6*/
  }
