/*arrow in homepage https://codepen.io/sego/pen/bQZKwP not used*/

/*logo composition https://codepen.io/merveagca/pen/omjydN*/


.composition {
    $self: &;
    flex: 60%;
    background-color: #000;
    margin:0 auto;
    position: relative;
    float: right;
    &__logo{
        width: 45%;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 1rem;
        &--mina{
            left: 37%;
            top: 1%;
        }
        &--figura{
            left: 50%;
            top: 13%;
        }
        &--macchina{
            left: 33%;
            top: 63%;
        }
       &:hover{
            /*transform: scale(1.05) translateY(-.5rem);*/
            z-index:20;
            filter: invert(52%) sepia(31%) saturate(1928%) hue-rotate(307deg) brightness(104%) contrast(96%); 
            -webkit-filter: invert(52%) sepia(31%) saturate(1928%) hue-rotate(307deg) brightness(104%) contrast(96%);
            -moz-filter: binvert(52%) sepia(31%) saturate(1928%) hue-rotate(307deg) brightness(104%) contrast(96%);
            -o-filter: invert(52%) sepia(31%) saturate(1928%) hue-rotate(307deg) brightness(104%) contrast(96%);
            -ms-filter: invert(52%) sepia(31%) saturate(1928%) hue-rotate(307deg) brightness(104%) contrast(96%);
       } 
   
    }

    //composition:hover composition__logo:not(:hover)
    /*&:hover &__logo:not(:hover){
        transform: scale(.95);
    }*/

}

.highlight-on-hover{
    z-index:20;
    filter: invert(52%) sepia(31%) saturate(1928%) hue-rotate(307deg) brightness(104%) contrast(96%);
    -webkit-filter: invert(52%) sepia(31%) saturate(1928%) hue-rotate(307deg) brightness(104%) contrast(96%);
    -moz-filter: invert(52%) sepia(31%) saturate(1928%) hue-rotate(307deg) brightness(104%) contrast(96%);
    -o-filter: invert(52%) sepia(31%) saturate(1928%) hue-rotate(307deg) brightness(104%) contrast(96%);
    -ms-filter: invert(52%) sepia(31%) saturate(1928%) hue-rotate(307deg) brightness(104%) contrast(96%);
  }
